#navbar {

    width: 100%;
    position:relative;
    top: 60px;

}

.navbar-list {

    list-style-type: none;
    overflow: hidden;
}

.navbar-item {

    float: left;

}

.navbar-item a {

    display:block;
    padding: 10px;
    text-decoration: none;
    color: white;
}