#category-filter {
    width: 25%;
    height: 90%;
    position: absolute;
    right: 0;
    float:right;
}

.sidebar-list {
    list-style-type: none;
}

.category-item {
    width: 100%;
    height: 75px;
    background-color:white;
    border-radius: 4px;
}




.category-text {
    display:inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 30px;
}

.category-btn {
    height: 100%;
    width: 100%;
    border: none;
    background-color:white;
    border-radius: 6px;
}



.category-btn:focus {
    background-color: #44484c;
    color:white;
}